body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: url(assets/istockphoto-1282118468-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}